.nav{
    width: 100%;
    padding: 1.125rem;
    margin-right:0;
    display: flex;  
    align-items: center;
    align-content:space-between;
    border-bottom: 0.0625rem solid gray
}
    .nav__title {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
    
    }

.nav__links {
    float: right;
    width: 60.7rem;
    text-align: right;
    list-style-type: none;
}

.nav__input {
    border-radius: 1.875rem;
    margin-right: 1rem;
  
}


.nav__links-c{
    text-decoration: none;
    }

    .nav__links-n{
        display: none;
        @include respond-to('medium'){
        display: inline;
        text-decoration: none;
          }
        }