.content {
    margin: auto;
    width: 95%;
    @include respond-to('medium'){
      width: 80%;
    }
}

.news__post {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.news__content  {
  margin: 5px;
  img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    @include respond-to('medium'){
      height: 100%;
    }
    
  }
  p {
    padding: 5px 10px;
  }
}

.sidebar{
  display: none;
  @include respond-to('medium'){
    display: block;
    padding: 0 2rem;


    &__about{
      width:100%;
      border-bottom: 0.0625rem solid gray;
    }

    &__pinned{
      width:100%;
      h1{
        font-weight: 900;
      }
      img {
        width:14vw;
        object-fit: cover;
      }
    }
  }
}
  .main-tags{
    display: none;
    @include respond-to('large'){
      display: inline;
    margin-bottom: 0.9375rem;
    }
&__titulo{
    margin-bottom: 0.9375rem;      
    }

&__links li{
    color: white;
    padding:0.1875rem;
    display:inline;
    background-color: $color_steelblue;
    list-style-type: none;
    margin-bottom:1.25rem;
    text-decoration: none;
    
    }

}

.tags__box{
    border-bottom: 0.0625rem solid gray;
}

.noticias-destacadas{
    padding-top:0.9375rem;

&__titulo{
    margin-bottom:0.9375rem;
}

&__descripcion{
    margin-bottom:0.75rem;
}

&__img{
    margin-bottom:0.75rem;
}
}


